.divSticker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.btnSticker{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 3px;
    font-size: large;
}

.btnSubmit{
    width: 80px;
    height: 30px;
    margin: 10px;
}

.divModalBtn{
    width: 100%;
    justify-content: space-around;
}
.btnModal{
    width: 90px;
    height: 30px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
