.calendar {
  /*position: fixed;*/
  top: 50%;
  left: auto;
  width: 400px;
  height: 150px;
  /*font-size: 1.3em;*/
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col.col-start {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45%;
}

.text {
  color: slategray;
}

.text.month {
  color: black;
}

.not-valid {
  color: gray;
}

.header {
  font-size: 1.5em;
  color: black;
}

.days {
  width: 100%;
  height: 45%;
  display: flex;
}

.body {
  width: 100%;
  height: 140%;
  display: flex;
  flex-direction: column;
}

.col {
  width: 13.5%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}


.selected {
  color: palevioletred;
}

.col.cell.valid:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: none;
 }